body {
    margin: 0 0 0 0;
    background-color: #eeeeee;
}

p {
    line-height: 1.5;
    text-align: justify;
}

body {
    display: flex;
    min-height: 100%;
    flex-direction: column;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.cardbread {
    padding: 0px;
}

.contentbread {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
}

.contentbread label {
    width: auto!important;
}

label {
    width: auto!important;
}

.firstparallax {
    min-height: 480px;
}