{% include 'header.html' %}

    <div class="container">
        <h2 class="header text_b">PHP</h2>
        <div class="row">
            <p>Version de PHP : {{php_version}}</p>
        </div>
    </div>

    <div class="container">
        <h2 class="header text_b">Apache </h2>
        <div class="row">
            {% for text in apache_version %}
                <p>Version d'Apache : {{text}}</p>
            {% endfor%}
            <ul class="collection z-depth-2">
            {% for module in loaded_extensions %}
                <li class="collection-item">{{module}}</li>
            {% endfor%}
            </ul>
        </div>
    </div>

{% include 'footer.html' %}