{% include 'header.html' %}

<!--Work-->
    <div class="container">
        <h2 class="header text_b">Projects </h2>
        <div class="row">
        {% for project in projects %}

            <div class="col s12 m4 l4">
                <div class="card hoverable">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="{{images[loop.index0]|raw}}">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">{{project}}<i class="mdi-navigation-more-vert right"></i></span>
                        <p><a href="../{{project}}" target="_blank">Project link</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">{{project}}<i class="mdi-navigation-close right"></i></span>
                        <p>{{readme[loop.index]|raw}}</p>
                    </div>
                </div>
            </div>

        {%endfor%}
        </div>
    </div>
  
{% include 'footer.html' %}